/*
Colors used
Header Color: #D3D3D3
Background Color: rgb(243, 247, 213);
*/

:root {
    --background-color: rgb(243, 247, 213);
    --header-color: lightGray;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: 'Merriweather', sans-serif;
    font-size: 24px;
    text-align: center;
}

.page-header {
    background-color: var(--header-color);
    border-bottom: solid 1px blue;
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
    padding: 15px;
    width: 100%;
}

/* for styling all the list items */
/* .pokemon-button {
    background-color: orange;
} */

/* for styling the buttons themselves */
.button-class {
    background-color: lightskyblue;
    cursor: pointer;
    margin: 3px;
    padding: 10px;
}

.button-class:hover,
.button-class:focus {
    background-color: lightgreen;
    cursor: pointer;
}

.pokemon-list {
    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
} 
